.main {
    text-align: center;
    margin-top: 8em;
  }
  .buttonmain {
    text-align: center;
  }
  
  body {
    width: 100vw;
    background: no-repeat fixed center;
    background-color: rgba(79, 70, 229, var(--tw-bg-opacity));
    background-image: linear-gradient(to bottom right, #7689ff, #d68eee);
    background-color: rgba(79, 70, 229, var(--tw-bg-opacity));
    vertical-align: auto;
  }
  
  .Button {
    transition: all 0.5s ease;
    color: rgb(15, 54, 184);
    font-family: "Montserrat", sans-serif;
    text-transform: none;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color: #767cfe;
    padding: 20px;
    outline: none;
    border-radius: 12px;
    margin-right: 10px;
  }
  .Button:hover {
    color: #001f3f;
    background-color: #9900cc;
  }
  
  .btn-nav {
    color: #767cfe !important;
    font-size: 1.4rem !important;
    background-color: white !important;
    margin: 0.5em 1em !important;
    font-weight: bolder !important;
    padding: 6px 18px !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
      rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
  }
  
  /* @font-face {
      font-family: ;
      src: url();
  } */

  .MuiGrid-grid-sm-4 {
      max-width: 100% !important;
      margin-top: calc(3em + 80px) !important;
  }
  
  .posts-cont {
    margin-top: 10em;
  }