.main {
    text-align: center;
}


body {
    background-color: rgba(79, 70, 229, var(--tw-bg-opacity));
    vertical-align: auto;
    padding-top: 80px;
}

button {
    transition: all .5s ease;
    color: rgba(224, 231, 255,);
    font-family:'Montserrat', sans-serif;
    text-transform: none;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : #767CFE;
    padding: 20px;
    outline: none;
    border-radius: 12px;
    margin-right: 10px;
}
button:hover {
    color: #001F3F;
    background-color: #9900cc;
}


@font-face {
    font-family: ;
    src: url();
}

