.main {
    text-align: center;
}


body {
    background-color: #9933ff;
}
button {
    transition: all .5s ease;
    color: #9900cc;
    border: 3px solid #660066;
    font-family:'Montserrat', sans-serif;
    text-transform: none;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : #cc33ff;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}
button:hover {
    color: #001F3F;
    background-color: #9900cc;
}